body{
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
}

#topbar{
  background-color: white;
  width:100%;
  height: 50px;
}

#topbar-items{
  margin-top: 30px;
  margin-left: 65%;
}

a {
  color: #566573;
  margin-left: 40px
}

a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

td, th {
  text-align: left;
  padding: 8px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

table {
  width: 100%
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

p {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

section {
  display: grid;
  grid-template-columns: 35% auto;
}

.mainpic {
  object-fit: cover;
  width: 80%;
  border-radius: 50%
}

.leftcol {
  padding: 10%;
  background-color: #273746;
}

.rightcol {
  padding: 10%;
  background-color: #D5D8DC;
}