body{
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
}

#topbar{
  background-color: white;
  width:100%;
  height: 50px;
}

#topbar-items{
  margin-top: 30px;
  font-size: 2vh;
  float: right;
  margin-right: 5%;
}

a {
  color: #566573;
  margin-left: 40px
}

a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

#iconimg {
  margin-top:10px;
  margin-left:10px;
  width:5%;
  height:5%;
}

#experience{
  margin-top:100px;
  margin-bottom:100px;
}


.typewriter {
  margin: 20%;
  font-size: 40px;
  text-align: left;
}

#experience, #activities {
  display: grid;
  align-items: center;
  grid-template-columns: 50% auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#bottombar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #DCDCDC;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.slidingcontainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.slidingtext {
    position: relative;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 3vh;
    vertical-align: middle;
}

.slidingcontainer:hover .overlay {
  opacity: 0.9;
}

#acttitle{
  padding-top: 20vh;
  font-size: 5vh;
}

#extitle {
  padding-top: 20vh;
  font-size: 5vh;
}

#activities {
    margin-bottom: 30vh;
}

#main {
    margin: 20%;
}

h1 {
    font-size: 5vh;

}

span {
  border-right: .15em solid orange;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    color: orange;
    border-color: orange
  }
}