body{
  font-family: 'Work Sans', sans-serif;
}

#topbar{
  background-color: white;
  width:100%;
  height: 50px;
}

#topbar-items{
  margin-top: 30px;
  margin-left: 60%;
}

a {
  color: #566573;
  margin-left: 40px
}

a:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

#iconimg {
  margin-top:10px;
  margin-left:10px;
  width:5%;
  height:5%;
}

#bottombar {
  background-color: white;
  width:100%;
  height: 80px;
}

#bottombar a {
  margin-left:100px;
  margin-right:100px;
}

#experience{
  margin-top:100px;
  margin-bottom:100px;
}

#experiencesection a {
  margin-left:100px;
  margin-right:100px;
}


#experiencesection{
  margin-top:50px;
  margin-bottom:50px;
}

#activities{
  margin-top:100px;
  margin-bottom:100px;
}

#activitysection a {
  margin-left:100px;
  margin-right:100px;
}

#activitysection {
  margin-top:50px;
  margin-bottom:50px;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 40px;
  left: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}