<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/icons/favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>Noopur's Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <section>
            <div id="topbar">
                <div id="topbar-items">
                    <a style="text-decoration : none" class="active" href="#home">Home</a>
                    <a style="text-decoration : none" href="#experience">Experience</a>
                    <a style="text-decoration : none" href="#activities">Activities</a>
                    <a style="text-decoration : none" href="{{ url_for('static',filename='resources/Resume20.pdf') }}">Resume</a>
                </div>
            </div>
    </section>
    <form action="" method="post">
        <p>
            {{ form.email(size=32) }}
        </p>
        <div style="margin-left:auto margin-right:auto">
            {{ form.send(size=32) }}
        </div>
        <div style="margin-left:auto margin-right:auto">
            <a href="/login">Sign In</a>
        </div>
    </form>

    <section>
    <div class="icons">
        <a href="https://github.com/nkhachan"><img src="{{ url_for('static',filename='img/icons/github.png') }}" width="82" height="86"></a>
        <a href="mailto:noopur.khachane@gmail.com"><img src="{{ url_for('static',filename='img/icons/mail.png') }}" width="82" height="86"></a>
        <a href="https://www.linkedin.com/in/nkhachan"><img src="{{ url_for('static',filename='img/icons/linkedin.png') }}" width="82" height="86"></a>
        <a href="{{ url_for('static',filename='resources/Resume20.pdf') }}"><img src="{{ url_for('static',filename='img/icons/resume.png') }}" width="82" height="86"></a>
    </div>
    </section>
</body>
</html>