<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/icons/favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>{{username}}'s Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

    <div id="fullpage">

            <div class="topbar">
                <a>Welcome {{username}}!</a>
                <a href="javascript:getGeolocation();">I'm Hungry</a>
            </div>

        </section>
    </div>

    <p id="demo"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
function getGeolocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendPosition);
    }
    // stop link reloading the page
    event.preventDefault();
}

function sendPosition(position) {
    // ajax the JSON to the server
    $.ajax({
        type: 'POST',
        url: '/sendcoords',
        data: JSON.stringify ([position.coords.latitude, position.coords.longitude]),
        success: function(data) { alert('data: ' + data); },
        contentType: "application/json",
        dataType: 'json'
    });
    window.location.href = "/hungry"
}
</script>
</body>
</html>