<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/icons/favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>{{username}} is Hungry!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <section>
            <div id="topbar">
                <div id="topbar-items">
                <a>Let's find you something to eat!</a>
                <a>{{ lat }}</a>
                <a>{{ lng }}</a>
                </div>
            </div>
    </section>
</body>
</html>