<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/icons/favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>Noopur's Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>

    <section>
            <div id="topbar">
                <div id="topbar-items">
                    <a style="text-decoration : none" class="active" href="/#home">Home</a>
                    <a style="text-decoration : none" href="#extitle">Experience</a>
                    <a style="text-decoration : none" href="#acttitle">Activities</a>
                    <a style="text-decoration : none" href="{{ url_for('static',filename='resources/Resume20.pdf') }}">Resume</a>
                    <a style="text-decoration : none" href="/login">Login</a>
                </div>
            </div>
    </section>

    <section>
        <div class="container">
            <img src="{{ url_for('static',filename='img/background2.jpg') }}" width="100%" height="100%">
              <div class="text-block">
                <p> My name is Noopur, I am an electrical
                  <p>engineering student at UC San Diego</p>
                  <p>interested in software development.</p>
                   <p>Feel free to contact me :)</p>
              </div>
        </div>
    </section>

    <center id="extitle">Experience</center>
    <section id="experience">

        <div class="slidingcontainer">
            <img src="{{ url_for('static',filename='img/icons/AWS.png') }}" height="200vh" width="auto">
            <div class="overlay">
                <div class="slidingtext">Worked on Amazon Connect, a cloud-based contact center. Integrated X-Ray to monitor requests across microservices</div>
            </div>
        </div>

        <div class="slidingcontainer">
            <img src="{{ url_for('static',filename='img/icons/GA-ASI.png') }}" height="100vh" width="auto" >
            <div class="overlay">
                <div class="slidingtext">Worked on Simulation software team writing Python tests for engine, and checking motion of AUVs</div>
            </div>
        </div>
    </section>

    <center id="acttitle">Activities</center>
    <section id="activities">

        <div class="slidingcontainer">
            <img src="{{ url_for('static',filename='img/icons/swe.png') }}" height="200vh" width="auto" >
            <div class="overlay">
                <div class="slidingtext">Outreach Chair 16' </br>Academic Chair 17'</div>
            </div>
        </div>

        <div class="slidingcontainer">
            <img src="{{ url_for('static',filename='img/icons/seds.png') }}" height="200vh" width="auto" >
            <div class="overlay">
                <div class="slidingtext">Worked on building a working live telemetry system based on COSMOS made by Ball Aerospace. See more here!</div>
            </div>
        </div>
    </section>

    <section id="bottombar">
            <a></a>
            <a href="https://github.com/nkhachan"><img src="{{ url_for('static',filename='img/icons/github.png') }}" width="100vh" height="auto"></a>
            <a href="mailto:noopur.khachane@gmail.com"><img src="{{ url_for('static',filename='img/icons/mail.png') }}" width="100vh" height="auto"></a>
            <a href="https://www.linkedin.com/in/nkhachan"><img src="{{ url_for('static',filename='img/icons/linkedin.png') }}" width="100vh" height="auto"></a>
            <a href="{{ url_for('static',filename='resources/Resume20.pdf') }}"><img src="{{ url_for('static',filename='img/icons/resume.png') }}" width="100vh" height="auto"></a>
            <a></a>
    </section>
</body>
</html>