<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static',filename='img/icons/favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>Noopur's Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<body>
    <section>
            <div id="topbar">
                <div id="topbar-items">
                    <a style="text-decoration : none" href="/#home">Home</a>
                    <a style="text-decoration : none" href="/#experience">Experience</a>
                    <a style="text-decoration : none" href="/#activities">Activities</a>
                    <a style="text-decoration : none" href="{{ url_for('static',filename='resources/Resume20.pdf') }}">Resume</a>
                    <a style="text-decoration : none" class="active" href="/login">Login</a>
                </div>
            </div>
    </section>
    <center id="loginform">
        <form action="" method="post">
                <p>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password(size=32) }}
                </p>
                <div style="margin-left:auto margin-right:auto">
                    {{ form.signin(size=32) }}
                </div>
                <div style="margin-left:auto margin-right:auto">
                    <a href="/register">Sign Up</a>
                    <a href="/forgot">Forgot Password</a>
                </div>
        </form>
    </center>
    <section id="bottombar">
            <a></a>
            <a href="https://github.com/nkhachan"><img src="{{ url_for('static',filename='img/icons/github.png') }}" width="100vh" height="auto"></a>
            <a href="mailto:noopur.khachane@gmail.com"><img src="{{ url_for('static',filename='img/icons/mail.png') }}" width="100vh" height="auto"></a>
            <a href="https://www.linkedin.com/in/nkhachan"><img src="{{ url_for('static',filename='img/icons/linkedin.png') }}" width="100vh" height="auto"></a>
            <a href="{{ url_for('static',filename='resources/Resume20.pdf') }}"><img src="{{ url_for('static',filename='img/icons/resume.png') }}" width="100vh" height="auto"></a>
            <a></a>
    </section>


    <script>
        function register() {
            window.location.href = "/register";
        }
        function forgot() {
            window.location.href = "/forgot";
        }
    </script>
</body>
</html>


