<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}" type="text/css" />
</head>
<body>

<div class="container">
    <img src="{{ url_for('static',filename='img/icons/lock.png') }}" alt="Lock">

    <form action="" method="post">
        <p>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password(size=32) }}
        </p>
        <div style="margin-left:auto margin-right:auto">
            {{ form.submit(size=32) }}
        </div>
    </form>

    <div class="btn-group">
        <button onclick="register()">Sign Up</button>
        <button onclick="forgot()">Forgot Password?</button>
    </div>

</div>


</body>

<script>
    function register() {
        window.location.href = "/register";
    }
    function forgot() {
        window.location.href = "/forgot";
    }
</script>

</html>